.td-page-meta--child {
  display: none !important;
}

.td-page-meta--view {
  display: none !important;
}

.td-page-meta--edit {
  display: none !important;
}

.td-page-meta--project-issue {
  display: none !important;
}

.td-page-meta--issue {
  display: none !important;
}

.td-navbar {
  background-color: #ff0033;
}

a:hover {
  color: #06c755 !important;
}